$main-color: #ffffff;
$accent-color: #d41443;
$hero-bg-color: #ffb8ca;
$pre-title-color: #ffa5ba;
$ice-coffee-color: #f0d1a5;
$milkshake-color: #c2e297;
$light-bg-color: #fff5f6;
$main-text-color: #000000;
$light-text-color: #907e82;
$slider-light-color: #d9d9d9;
$slider-accent-color: #d31342;
$review-bg-color: #fafafa;
$pseudo-color: #e1e1e1;
$review-dots-color: #c7133e;
$socials-color: #fea5bb;
$button-hover-color: #ecebeb;
$menu-bg-color: rgba(225, 121, 145, 0.8);
$menu-list-border-color: #e18298;
$modal-bg-color: #42cbf5;
$modal-input-color: #f7f6f2;
$config-bgc-color: rgba(255, 255, 255, 0);
$team-bgc-color: rgba(184, 255, 228, 0.952);
