$fontDM: 'DM Sans', sans-serif;
$fontTitan: 'Titan One', cursive;

@mixin fontStyle($fontWeight, $fontSize, $liHeig, $letSpac) {
  font-weight: $fontWeight;
  font-size: (#{$fontSize * 1px});
  line-height: (#{$liHeig / $fontSize});
  letter-spacing: (#{$letSpac * 0.01em});
}
