$hero-background-color: #FFB8CA;
$title-primery-text-color: #D41443;
$title-second-text-color: #FFA5BA;
$black-text-color: #000000;
$grey-text-color: #907E82;
$primery-section-backround-color: #E5E5E5;
$accent-section-background-color: #FFF5F6;
$button-primery-background-color: #FFFFFF;
$title-text: "Titan One", sans-serif;
$primery-text: "DM Sans", sans-serif;
$method-transition: cubic-bezier(0.4, 0, 0.2, 1);
