<!-- Advantages -->
<section class="advantages">

    <div class="conteiner">
        <h2 class="visually-hidden">skills</h2>
        <!-- <picture class="section__img">
            <img src="images/icon/icon-dug@1x.png" alt="client">
        </picture> -->
        <ul class="advantages__columns">
            <li class="advantages__item" >
            <p class="numbers">721</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item--apple">
            <p class="numbers">16kg</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item--heart">
            <p class="numbers">84</p>
            <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>

</section>
