<!-- Contacts -->
    <section class="contacts section">
        <h2 class="visually-hidden">Скрытый заголовок</h2>
        <div class="container">
            <ul class="card">
                <li class="card__item">
                    <p class="card__representations">Cafe</p>
                    <b class="card__city">Chicago</b>
                    <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <hr>
                    <ul class="card-period">
                        <li class="card-period__item">
                            <p class="card-period__days">Monday - Friday</p>
                            <p class="card-period__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="card-period__item">
                            <p class="card-period__days">Saturday - Sunday</p>
                            <p class="card-period__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <hr>
                    <ul class="card-address">
                        <li class="card-address__item">
                            <a class="card-address__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                        <li class="card-address__item">
                            <a class="card-address__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                    </ul>
                </li>
                <li class="card__item">
                    <p class="card__representations">Brackfast</p>
                    <b class="card__city">Los Angeles</b>
                    <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <hr>
                    <ul class="card-period">
                        <li class="card-period__item">
                            <p class="card-period__days">Monday - Friday</p>
                            <p class="card-period__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="card-period__item">
                            <p class="card-period__days">Saturday - Sunday</p>
                            <p class="card-period__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <hr>
                    <ul class="card-address">
                        <li class="card-address__item">
                            <a class="card-address__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                        <li class="card-address__item">
                            <a class="card-address__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                    </ul>
                </li>
                <li class="card__item">
                    <p class="card__representations">Cafe</p>
                    <b class="card__city">New York</b>
                    <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <hr>
                    <ul class="card-period">
                        <li class="card-period__item">
                            <p class="card-period__days">Monday - Friday</p>
                            <p class="card-period__time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="card-period__item">
                            <p class="card-period__days">Saturday - Sunday</p>
                            <p class="card-period__time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <hr>
                    <ul class="card-address">
                        <li class="card-address__item">
                            <a class="card-address__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                        <li class="card-address__item">
                            <a class="card-address__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                    </ul>
                </li>
            </ul>  
            <button class="card__button" type="button">Our Locations &#62;</button>
            <button class="card__button" type="button">Franchise &#62;</button>
        </div>
    </section>