<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- Contacts -->
    <section>
        <div class="container">
            <article>
                <p>Cafe</p>
                <h3>Chicago</h3>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <hr>
                <p>Monday - Friday</p>
                <time>06:00 AM - 10:00 PM</time>
                <p>Saturday - Sunday</p>
                <time>08:00 AM - 16:00 PM</time>
                <hr>
                <address>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                </address>
            </article>

            <article>
                <p>Foodtruck</p>
                <h3>Los Angeles</h3>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <hr>
                <p>Monday - Friday</p>
                <time>06:00 AM - 10:00 PM</time>
                <p>Saturday - Sunday</p>
                <time>08:00 AM - 16:00 PM</time>
                <hr>
                <address>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                </address>
            </article>

            <article>
                <p>Cafe</p>
                <h3>New York</h3>
                <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <hr>
                <p>Monday - Friday</p>
                <time>06:00 AM - 10:00 PM</time>
                <p>Saturday - Sunday</p>
                <time>08:00 AM - 16:00 PM</time>
                <hr>
                <address>
                    <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                </address>
            </article>

            <button type="button">Our Locations &#62;</button>
            <button type="button">Franchise &#62;</button>
        </div>
    </section>

</body>

</html>