<section class="section-reviews">
  <div class="reviews__container container">
    <h2 class="visually-hidden">Customer-reviews</h2>
    <picture class="section-reviews__img">
      
      <source srcset="images/reviews-girl3@1x.jpg 1x, images/reviews-girl3@2x.jpg 2x" media="(min-width:1280px)"/>
      <source srcset="images/reviews-girl2@1x.jpg 1x, images/reviews-girl2@2x.jpg 2x" media="(min-width: 768px)"/>
      <source srcset="images/reviews-girl1@1x.jpg 1x, images/reviews-girl1@2x.jpg 2x" media="(min-width: 320px)"/>
      <img src="images/reviews-girl1@1x.jpg" alt="client" />
    </picture>
    <div class="reviews-product">
      <article class="reviews-product__text">
        Nullam viverra consectetuer.Quisque cursus et, porttitor risus.

        Aliquam sem. In hendrerit nulla quam nunc, accumsan congue.
        Lorem ipsum primis in nibh vel risus.</article>
    </div>

    <!-- Через список стилизовать СВГ в цвет при ховере на Ссылки
                <ul> 
                <li></li>
                <li></li>
                <li></li>
            </ul> -->
    <svg class="reviesw-icon">
      <use href="images/sprite.svg#icon-three-dots"></use>
    </svg>
    <h3 class="reviews-title">Emily, Los Angeles</h3>
    <ul class="reviews-nav">
      <li class="reviews-nav__item">
        <a class="reviews-nav__link" href="//">
          <svg class="reviews-nav__icon">
            <use href="images/sprite.svg#icon-home"></use>
          </svg></a>
      </li>

      <li class="reviews-nav__item">
        <a class="reviews-nav__link" href="">
          <svg class="reviews-nav__icon-grey">
            <use href="images/sprite.svg#icon-circle-1"></use>
          </svg></a>
      </li>

      <li class="reviews-nav__item">
        <a class="reviews-nav__link" href="">
          <svg class="reviews-nav__icon-grey">
            <use href="images/sprite.svg#icon-circle-1"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>