<section class="section-reviews">
    <div class="container">
        <h2 class="visually-hidden"></h2>
        <picture class="section-reviews__img">
    <img src="/src/images/reviews-girl1.jpg"  alt="client"/>
    <source srcset="/src/images/reviews-girl3@1x.jpg 1x", srcset="/src/images/reviews-girl3@2x.jpg 2x" media="(min-width:1280px)">
    <source srcset="/src/images/reviews-girl2@1x.jpg 1x", srcset="/src/images/reviews-girl2@2x.jpg 2x" media="(min-width: 768px)">
    <source srcset="/src/images/reviews-girl1@1x.jpg 1x", srcset="/src/images/reviews-girl1@2x.jpg 2x" media="(min-width: 480px)">
     
        </picture>
        
        <p class="section-reviews__text">Nullam viverra consectetuer.Quisque cursus et, porttitor risus.</p>
        <p class="section-reviews__text">Aliquam sem. In hendrerit nulla quam nunc, accumsan
            congue. </p>
        <p class="section-reviews__text">Lorem ipsum primis in nibh vel risus.</p>
        <!-- Через список стилизовать СВГ в цвет при ховере на Ссылки
                <ul> 
                <li></li>
                <li></li>
                <li></li>
            </ul> -->
        <svg>
            <use href=""></use>
        </svg>
        <h3>Emily, Los Angeles</h3>
        <ul class="reviews-nav">
            <li class="reviews-nav__item">
                <a class="reviews-nav__link" href="">
                    <svg class="reviews-nav__icon">
                        <use href="">

                        </use>
                    </svg></a>
            </li>

            <li class="reviews-nav__item">
                <a class="reviews-nav__link" href="">
                    <svg class="reviews-nav__icon">
                        <use href="">

                        </use>
                    </svg></a>
            </li>

            <li class="reviews-nav__item">
                <a class="reviews-nav__link" href="">
                    <svg class="reviews-nav__icon">
                        <use href="">

                        </use>
                    </svg></a>
            </li>
        </ul>
    </div>
</section>