<!-- developers -->
<div class="backdrop backdrop--is-hidden" data-dev>
    <div class="dev">       
        <button class="dev__close-button" data-dev-close>
            <svg width=18px height=18px>
                <use href="images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <h2 class="dev__title">Team "Лунатики"</h2>
        <ul class="dev__teamList">
            <li class="dev__team">
                <p class="dev__name">Konstantyn Radchenko</p>
                <h3 class="dev__work">TeamLead</h3>
            </li>
            <li class="dev__team">
                <p class="dev__name">Maria Galiovets</p>
                <h3 class="dev__work">Scrum Master</h3>
            </li>
            <li class="dev__team">
                <p class="dev__name">Maryna Shevchenko</p>
                <h3 class="dev__work">Developer</h3>
            </li>
            <li class="dev__team">
                <p class="dev__name">Ilya Shopov</p>
                <h3 class="dev__work">Developer</h3>
            </li>
            <li class="dev__team">
                <p class="dev__name">Nelya Melenevskaya</p>
                <h3 class="dev__work">Developer</h3>
            </li>
            <li class="dev__team">
                <p class="dev__name">Oleksii Korotenko</p>
                <h3 class="dev__work">Developer</h3>
            </li>
            <li class="dev__team">
                <p class="dev__name">Denys Pitel</p>
                <h3 class="dev__work">Developer</h3>
            </li>
            <li class="dev__team">
                <p class="dev__name">Artem Lazarev</p>
                <h3 class="dev__work">Developer</h3>
            </li>
        </ul>
    </div>

</div>