<section id="hero" class="hero">
    <div class="hero__container container">
        <h1 class="hero__title">ice cream made with <span class="hero__title-span">passion</span></h1>
        <ul class="hero__button-list">
            <li class="hero__button-item">
                <a href="" class="hero__button-link button">Products</a>
            </li>
            <li class="hero__button-item">
                <a href="" class="hero__button-link button">How it’s made?</a>
            </li>
        </ul>
        <p class="hero-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
        </p>
        <button type="button" class="hero__arrow-button arrow-button"></button>
        <ul class="hero__chain-list">
            <li class="hero__chain-item"><span class="hero__chain-span">16</span>cafes</li>
            <li class="hero__chain-item"><span class="hero__chain-span">23</span>food trucks</li>
        </ul>
    </div>
</section>