<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer-Reviews</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"/>
    <link href="/src/css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <section class="section-reviews">
        <div class="container">
            <h2 class="visually-hidden"></h2>
            <img src="/src/images/reviews-girl1.jpg" 
            srcset="/src/images/reviews-girl1.jpg 1x"
            sarset="/src/images/reviews-girl2.jpg 1x"
            sarset="/src/images/reviews-girl3.jpg 1x" 
            alt="client" class="section-reviews__img"/>
            <p class="section-reviews__text">Nullam viverra consectetuer.Quisque cursus et, porttitor risus.</p>
            <p class="section-reviews__text">Aliquam sem. In hendrerit nulla quam nunc, accumsan
            congue. </p>
            <p class="section-reviews__text">Lorem ipsum primis in nibh vel risus.</p>
            <!-- Через список стилизовать СВГ в цвет при ховере на Ссылки
                <ul> 
                <li></li>
                <li></li>
                <li></li>
            </ul> -->
            <svg><use href=""></use></svg>
            <h3>Emily, Los Angeles</h3>
            <ul class="reviews-nav">
                <li class="reviews-nav__item">
                    <a class="reviews-nav__link" href="">
                    <svg class="reviews-nav__icon">
                        <use href="">

                </use></svg></a></li>

                <li class="reviews-nav__item">
                    <a class="reviews-nav__link" href="">
                        <svg class="reviews-nav__icon">
                            <use href="">
                
                            </use>
                        </svg></a>
                </li>

                <li class="reviews-nav__item">
                    <a class="reviews-nav__link" href="">
                        <svg class="reviews-nav__icon">
                            <use href="">
                
                            </use>
                        </svg></a>
                </li>
            </ul>
        </div>
    </section>
</body>
</html>