.footer-social__list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 46px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
}

.footer-social__item:not(:last-child) {
  margin-right: 28.24px;
}
.footer-social__link {
  color: $main-color;
  background-color: $socials-color;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
  @media screen and(min-width: 768px) {
    width: 34px;
    height: 34px;
  }
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
