.about__preTitle {
  font-family: $fontTitan;
  @include fontStyle(400, 18, 20.61, 2);
  color: $pre-title-color;
  text-align: center;
}
.about__title {
  font-family: $fontTitan;
  @include fontStyle(400, 34, 38.93, 4);
  color: $accent-color;
  text-align: center;
}

.about__text {
  font-family: $fontDM;
  @include fontStyle(500, 12, 19.44, 2);
  color: $main-text-color;
}
.about__text--color {
  color: $light-text-color;
}

.about__btn {
  font-family: $fontDM;
  @include fontStyle(700, 14, 18.23, 2);
  color: $accent-color;
}
