.about__section{
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: $light-bg-color;
}

.about__container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.about__preTitle {
  font-family: $fontTitan;
  @include fontStyle(400, 18, 20.61, 2);
  color: $pre-title-color;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 15px;
}
.about__title {
  font-family: $fontTitan;
  @include fontStyle(400, 34, 38.93, 4);
  color: $accent-color;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 26px;
}

.about__img {
  width: 100%;
  height: auto;
  margin-bottom: 46px;
}

.about__text {
  font-family: $fontDM;
  @include fontStyle(500, 12, 19.44, 2);
  color: $main-text-color;
  margin-bottom: 47px;

  // background-image: url(images/about-bg-milk-480@1x.png);
}
.about__text--color {
  color: $light-text-color;
  margin-bottom: 10px;
}

.about__text--margin{
  color: $light-text-color;
  margin-bottom: 47px;
}

.about__btn {
  display: flex;
  align-items: center;
  font-family: $fontDM;
  @include fontStyle(700, 14, 18.23, 2);
  color: $accent-color;
  border-radius: 22px;
  border: none;
  background-color: $main-color;

  padding-left: 42px;
  padding-right: 35px;
  margin-right: 13px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.about__btnIcon {
fill: currentColor;
}