.about {
  padding-top: 125px;
  padding-bottom: 39px;
  background-color: $light-bg-color;
  background-image: url(/images/about-bg-milk-480@1x.png);
  background-repeat: no-repeat;
  background-size: 320px 133px;
  background-position: 50% 89%;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/about-bg-milk-480@2x.png);
  }

  @media screen and(min-width:768px) {
    background-image: none;
    padding-top: 130px;
    padding-bottom: 66px;
  }
  @media screen and(min-width:1280px) {
    padding-top: 125px;
    padding-bottom: 39px;
    background-image: url(/images/about-bg-milk-1200@1x.png);
    background-repeat: no-repeat;
    background-size: 1280px 534px;
    background-position: 50% 109%;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(/images/about-bg-milk-1200@2x.png);
    }
  }
}

.about__container {
  // padding-left: 20px;
  // padding-right: 20px;

  @media screen and(min-width:768px) {
    padding-left: 36px;
    padding-right: 36px;
  }

  @media screen and(min-width:1280px) {
    padding-left: 115px;
    padding-right: 115px;
  }
}

.about__preTitle {
  font-family: $fontTitan;
  @include fontStyle(400, 18, 20.61, 2);
  color: $pre-title-color;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 15px;

  @media screen and(min-width:768px) {
    @include fontStyle(400, 26, 29.77, 2);
  }
  @media screen and(min-width:1280px) {
    @include fontStyle(400, 30, 34.35, 4);
  }
}
.about__title {
  font-family: $fontTitan;
  @include fontStyle(400, 34, 38.93, 4);
  color: $accent-color;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 26px;
  @media screen and(min-width:768px) {
    @include fontStyle(400, 48, 54.96, 4);
  }
  @media screen and(min-width:1280px) {
    @include fontStyle(400, 58, 66.41, 6);
  }
}

.about__img {
  width: 320px;
  margin: 0 auto;
  height: auto;
  margin-bottom: 46px;
  @media screen and(min-width:768px) {
    width: 340px;
    margin-bottom: 0;
  }
  @media screen and(min-width:1280px) {
    width: 516px;
  }
}

.about__text {
  font-family: $fontDM;
  @include fontStyle(500, 12, 19.44, 2);
  color: $main-text-color;
  margin-bottom: 35px;
  @media screen and(min-width:768px) {
    @include fontStyle(500, 14, 24.64, 2);
  }
  @media screen and(min-width:1280px) {
    @include fontStyle(500, 16, 28.16, 4);
  }
}
.about__text--color {
  color: $light-text-color;
  margin-bottom: 10px;
}

.about__text--margin {
  color: $light-text-color;
  margin-bottom: 20px;
  @media screen and(min-width:768px) {
    margin-bottom: 62px;
  }
  @media screen and(min-width:1280px) {
    margin-bottom: 45px;
  }
}

.about__btn {
  display: flex;
  align-items: center;
  font-family: $fontDM;
  @include fontStyle(700, 14, 18.23, 2);
  color: $accent-color;
  border-radius: 22px;
  border: none;
  background-color: $main-color;
  cursor: pointer;

  padding-left: 42px;
  padding-right: 35px;
  margin-right: 13px;
  padding-top: 12px;
  padding-bottom: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background-color: $button-hover-color;
  }

  @media screen and(min-width:768px) {
    @include fontStyle(700, 16, 20.83, 2);
  }
  @media screen and(min-width:1280px) {
    @include fontStyle(700, 16, 20.83, 2);
  }
}

.about__btnIcon {
  fill: currentColor;
}

.about__flexContainer {
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
  }
}
.about__textContainer {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width:768px) {
    width: 340px;
    margin-left: 17px;
    margin-top: 50px;
  }
  @media screen and(min-width:1280px) {
    width: 463px;
    margin-left: 74px;
    margin-top: 55px;
  }
}
