.section-gallery__img {
  background-image: url(/images/gallery-photo-480@1x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-divice-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(/images/gallery-photo-480@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    .section-gallery__img {
      background-image: url(/images/gallery-photo-768@1x.jpg);
    }
  }
  @media screen and (min-divice-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .section-gallery__img {
      background-image: url(/images/gallery-photo-768@2x.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    .section-gallery__img {
      background-image: url(/images/gallery-photo-1200@1x.jpg);
    }
  }
  @media screen and (min-divice-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .section-gallery__img {
      background-image: url(/images/gallery-photo-1200@2x.jpg);
    }
  }
}
