.section-reviews {
  width: 100%;
  // padding: 80px 20px 86px 20px;
  margin: 0 auto;
  padding: 0;
}

.reviews__container {
  padding-left: 20px;
  padding-right: 20px;

  @media screen and(min-width:768px) {
    padding-left: 36px;
    padding-right: 36px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 115px;
    padding-right: 115px;
  }
}

.section-reviews__img {
  display: block;
  /* width: 100%; */
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
}
.reviews-product {
  display: flex;
  justify-content: center;
  // width: 100vw;
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 29px;
  margin-bottom: 30px;
  // padding: 43px 66px 26px 57px;
  background-color: #fafafa;
  z-index: -2;
  @media screen and (min-width: 768px) {
    margin: 19px 74px 42px;
  }
  @media screen and (min-width: 1280px) {
    margin: 15px 177px;
  }
}
.reviews-product::before {
  content: '';
  display: block;
  position: absolute;
  top: 28px;
  left: 61px;
  background-image: url('/images/icon/quotes.svg');
  background-repeat: no-repeat;
  width: 54px;
  height: 40px;
  fill: $pseudo-color;
  z-index: -1;
}
.reviews-product__text {
  font-family: $fontDM;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 216%;
  text-align: center;
  letter-spacing: 0.04em;
  color: $main-text-color;
  // padding-bottom: 6px;

  // border-bottom: 1px solid #e1e1e1;
}
.reviews-product article {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 43px 50px 20px;
  background-image: repeating-linear-gradient(
    to top,
    $pseudo-color,
    $pseudo-color 1px,
    transparent 1px,
    transparent 31px
  );
}
.reviesw-icon {
  display: block;
  margin: 0 auto 14px;
  width: 64px;
  height: 30px;
  fill: $review-dots-color;
}
.reviews-title {
  font-family: $fontDM;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 186%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: $main-text-color;
}
.reviews-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  // margin-bottom: 129px;
  margin-right: -18px;
  @media screen and (min-width: 768px) {
    margin-top: 35px;
  }
}
.reviews-nav__item {
  margin-right: 18px;
}
.reviews-nav__icon-grey {
  width: 20px;
  height: 20px;
  fill: $slider-light-color;
}
.reviews-nav__icon {
  width: 20px;
  height: 20px;
  fill: $slider-accent-color;
}
