.section-reviews {
  padding: 80px 15px 86px 15px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section-reviews__img {
  display: block;
  /* width: 100%; */
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
}
.section-reviews__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 216%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
  border-bottom: 1px solid #e1e1e1;
}
.reviews-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
